//@import-normalize;
@import "helper";

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
}
a{
  text-decoration: none;
  color: inherit;
}
button,input{
  font: inherit;
}
input{
  background:none;
  outline:none;
  border:none;
}
button{
  background: none;
  outline: none;
  border: none;
}

.chart-wrapper{
  &::-webkit-scrollbar{
    display: none;
  }
}

@media (min-width: 500px) {
  .container{
    outline: 1px solid rgba(0,0,0,0.2);
  }
  #root{
    padding: 0 500px;
  }

  .money-wrapper{
    outline: 1px solid rgba(0,0,0,0.2);
  }

  .chart-main-wrapper{
    width: 100%;
    #main{
      width: 100%;
    }
  }
}